.menu {
  height: 300px;
  width: 100%;
  padding: 0.5rem;
}

.picture_index {
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.picture_text {
  background-color: white;
  border-radius: 0 0 25px 25px;
  padding: 1rem;
}

.nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: $color-tertiary;
  color: #0A8D6D;
  padding: 1px 10px;
  border-radius: 2px;
  font-weight: 700;
}
